.content-areas th.icon,
.content-areas td.icon {
  font-size: 1.5rem;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  width: 4.375rem;
}
.content-areas td.block-link {
  padding: 0 !important;
}
.content-areas td.block-link a {
  display: block;
  padding: 0.75rem;
  color: #000;
  text-decoration: none;
}
.content-areas td.block-link a .title {
  font-size: 1rem;
  margin: 0;
  line-height: 1.5;
}
.content-areas td.block-link a .description {
  display: block;
}
.content-areas td.block-link a:hover .title {
  text-decoration: underline;
}