.content-areas {

    th.icon,
    td.icon {
        font-size: 1.5rem;
        line-height: 1;
        vertical-align: middle;
        text-align: center;
        width: 4.375rem;
    }

    td.block-link {
        padding: 0 !important;

        a {
            display: block;
            padding: 0.75rem;
            color: #000;
            text-decoration: none;

            .title {
                font-size: 1rem;
                margin: 0;
                line-height: 1.5;
            }

            .description {
                display: block;
            }

            &:hover {

                .title {
                    text-decoration: underline;
                }
            }
        }
    }
}
